@font-face {
    font-family: 'Typewriter';
    src: url('/static/fonts/Typewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
    background: no-repeat center center;
    background-size: cover;
    cursor: url('/static/images/pointer.png'), auto !important;
}

a, button, [role="button"], input[type="submit"], input[type="button"], .answer {
    cursor: url('/static/images/pointer.png'), pointer !important;
}

/* Styles pour la vidéo d'arrière-plan */
#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place la vidéo en arrière-plan */
}

#category-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#fffffff9;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

#title-container {
    font-family: 'Typewriter', 'sans-serif';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    font-size: 5rem;
    max-width: 1300px;
    font-weight: bold;
    text-align: left;
    opacity: 1;
    transition: all 1s ease;
    text-align: center;
    width: 90%;
    color: white;
    font-weight: bolder
}

#title-container.moved {
    color:#161616;
    top: 95px;
    left: -18px;
    transform: scale(0.8) rotate(-3deg);
}

#category {
    color: #777;
    margin-top: 10px;
    font-size: 1.5rem;
    opacity: 0.8;
    transition: color 1s ease;
}

#title-container.moved #category{
    color: #3c0707;
}

#black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    transition: opacity 0.8s ease;
}

#answers-container {
    position: fixed;
    top: 67.5%;
    left: 135px;
    transform: translateY(-50%) rotate(-3deg);
    opacity: 0;
    transition: opacity 1s ease;
    text-align: left;
}

.answer {
    mix-blend-mode: multiply;
    font-family: 'Typewriter', 'sans-serif';
    color: black;
    width: 965px !important;
    text-align: center;
    outline: 2px solid #000000f8;
    background: transparent;
    margin: 30px 0;
    padding: 25px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.4s ease;
    font-size: 2.15rem;
    box-shadow: none;
    cursor: pointer;
    transform-origin: left;
    z-index: 1;
}

.answer:hover {
    background: #ffffffaa;
    box-shadow: 12px 12px 2px 1px black;
    transform: scale(1.025) translateX(0) !important;
}

.answer.selected {
    background: #ffffffaa;
    color: #a855f7;
    outline: 2px solid #a855f7;
}

.answer.selected:hover {
    box-shadow: 12px 12px 2px 1px #452265;
}

.answer.correct {
    outline: 2px solid #3f330f;
    color: #ffffff;
    background: linear-gradient(135deg, #bf9b30, #e6c35c, #bf9b30);
    box-shadow: 12px 12px 2px 1px #3f330f;
    transform: scale(1.025) translateX(0) !important;
}

.answer.wrong {
    opacity: 0.5!important;
    pointer-events: none;
    outline: none;
    color: #ffffff;
    background: #2c2c2c;
}

#timer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: rgba(0, 0, 0, 0.5);
}

#timer-bar {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, white, #FFC899);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 20s linear;
}

/* Styles pour l'écran de chargement */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-screen img {
    width: 400px;
    height: 200px;
}

/* Styles pour le lecteur vidéo */
#intro-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 999;
    pointer-events: none;
}

/* Masquer le quiz au départ */
#quiz-content {
    display: none;
}


/* Styles pour la modale */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #f43f5e, #a855f7, #3b82f6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.modal-content {
    display:grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: #4b5563;
    line-height: 1.5;
}

.modal-buttons {
    display: flex;
    gap: 1rem;
}

.modal-button {
    flex: 1;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.modal-button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.modal-button-primary {
    background: linear-gradient(to right, #f43f5e, #a855f7);
    color: white;
    border: none;
}

.modal-button-secondary {
    background: white;
    color: #4b5563;
    border: 2px solid #e5e7eb;
}