#credits-container h2{
    font-family: 'Chalkzone', sans-serif;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.5vh;
}

#credits-container p{
    font-size: 1.5vh;
    color: white;
}

#left-curtain, #right-curtain {
    position: fixed;
    top: 0;
    width: 55%;
    height: 100vh;
    background-size: cover;
    transition: all 1s ease-in-out;
    pointer-events: none;
    z-index: 1000;
}

#left-curtain { 
    left: -50%;
    background-image: url('images/curtain_left.png');
    background-position: right;
}

#right-curtain {
    right: -50%;
    background-image: url('images/curtain_right.png');
    background-position: left;
}

/* Conteneur des crédits */
#credits-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    color: #a855f7;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
    z-index: 1;
}

/* Logo du jeu */
.credits-logo {
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}

/* Classement des joueurs */
.players-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    gap: 50px;
    width: 100%;
}

.leaderboard-player {
    max-width: 250px;
    max-height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5px;
    box-shadow: 
    0 0 0 5px #ff83c1,
    0 0 0 10px #f5d924,
    0 0 0 15px #4b90ff,
    0 0 50px rgba(0,0,0,0.5);
    background: #ffffff;
    overflow: hidden;
}

.leaderboard-player span, p{
    margin: 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    color: #2c3e50;
}

.leaderboard-player img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.rank-1 { 
    box-shadow: 
    0 0 0 5px gold,
    0 0 0 10px goldenrod,
    0 0 0 15px gold,
    0 0 50px #ffd700; 
    color: gold!important; 
}

.rank-2 { 
    box-shadow: 
    0 0 0 5px silver,
    0 0 0 10px #999,
    0 0 0 15px silver,
    0 0 50px #c0c0c0; 
    color: silver!important; 
}

.rank-3 { 
    box-shadow: 
    0 0 0 5px #CD7F32,
    0 0 0 10px #925920,
    0 0 0 15px #CD7F32,
    0 0 50px #CD7F32; 
    color: #CD7F32!important; 
}

/* Indication de sortie */
.exit-hint {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1003;
    transition: all 0.2s ease-in-out;
}

.exit-hint:hover {
    transform: scale(1.05);
}

.exit-hint img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.overlay-gradient.credit {
    backdrop-filter: brightness(1.05) blur(10px);
    background-color: white;
    mix-blend-mode: difference;
}
